<div class="page-header">
  <h1>User Signups <small>users signed up for notifications</small></h1>
</div>

<div class="alert alert-info alert-dismissible" role="alert" ng-if="notice">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{notice}}.
</div>

<form name="messageForm">
  <h3>Send Notification</h3>
  <div class="form-group">
    <label for="message">Message Type</label>
      <button type="button" class="btn btn-success" ng-click="messageType='success'">Positive</button>

      <button type="button" class="btn btn-info" ng-click="messageType='info'">Info</button>

      <button type="button" class="btn btn-warning" ng-click="messageType='warning'">Warning</button>

      <button type="button" class="btn btn-danger" ng-click="messageType='danger'">Danger</button>
  </div>

  <div class="form-group">
    <label for="message">Copy for <span class="text-{{messageType}}">{{messageType}}</span> Message</label>
    <textarea rows="3" class="form-control" id="message" ng-model="message" required placeholder="Message copy..."></textarea>
  </div>

  <button type="submit" class="btn btn-info" ng-click="SendMessage()" ng-disabled="messageForm.$invalid">Send Message</button>
</form>
<br>

<form>
  <div class="form-group">
    <label for="search">Search Users</label>
    <input type="text" class="form-control" id="search" placeholder="Search for name, address, shelter, etc..." ng-model="searchText">
  </div>
</form>

<table width="100%" ng-table="tableParams" show-filter="true" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Messages</th>
      <th>Date</th>
      <th>Name</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Shelter</th>
      <th>ETA</th>
      <th>Comments</th>
      <th>Kids &amp; Pets</th>
    </tr>
  </thead>
  <tbody ng-if="contactRequests.length">
    <tr ng-repeat="contact in contactRequests | filter:searchText">
      <td><a href="/#/conf/{{contact.id}}">View</a></td>
      <td>{{contact.messages.length}}</td>
      <td>{{contact.created}}</td>
      <td>{{contact.name}}</td>
      <td>
        <a href="http://maps.google.com?q=:{{contact.address}}" target="_blank">{{contact.address}}
      </td>
      <td><a href="mailto:{{contact.email}}">{{contact.email}}</a>
        <br><a href="tel:{{contact.mobile}}">{{contact.mobile | phone}}</a>
      </td>
      <td>{{contact.shelter.name}}</td>
      <td>{{contact.eta}}</td>
      <td>{{contact.comments}}</td>
      <td>{{contact.kidspets}}</td>
    </tr>
  </tbody>
</table>
