  <div class="page-header">
    <h1>Confirmation <small>for {{contactRequests.name}}</small></h1>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>{{contactRequests.name}}</h3>
          <p></p>
          <p>
            <button class="btn btn-danger pull-right">Cancel Request <i class="fa fa-remove" ng-click="removeContactRequest(contactRequests)"></i></button>
          </p>
        </div>
      </div>
    </div>
  </div>
