<h1>Request</h1>
<hr>
<form name="requestForm" novalidate ng-submit="addRequest()">
  <p class="bg-danger" ng-if="error">{{error}}</p>
  <p class="bg-info" ng-if="progress">{{progress}}</p>
  <div class="form-group"
      ng-class="{'has-error': requestForm.content.$invalid
        && requestForm.content.$dirty}">

    <div class="input">
      <img src="holder.js/140x140?theme=sky&fg=ffffff&text=Click%20to%20add%20your%20photo" class="img-circle" style="width: 140px; height: 140px;">      
    </div>
    <br>
    <div class="input-group">
    <textarea class="form-control focus" name="comments"
        placeholder="What can we help you with?" autocomplete="off" required
        ng-model="newRequst.comments"></textarea>
        <span class="input-group-addon">
            <i class="fa fa-microphone" ng-click="listen()"></i>
        </span>
    <span class="has-error control-label" ng-show="
        requestForm.comments.$invalid && requestForm.description.$dirty">
      Comments are required.
    </span>
    </div>
  </div>
  <button class="btn btn-default" ng-disabled="requestForm.$invalid">Save</button>
</form>
<hr>
<div class="list-group">
  <a class="list-group-item" ng-repeat="request in requests">{{request.content}}&nbsp;
    <i class="glyphicon glyphicon-remove pull-right"
        ng-click="removeRequest(request)"></i></a>
</div>
