<div class="page-header">
  <h1>Signup <small>to get updates on relief and recovery efforts</small></h1>
</div>

<form name="requestForm" novalidate ng-submit="addContactRequest()">
  <!--  Alerts -->
  <div class="alert alert-warning alert-dismissible" role="alert" ng-if="error">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> {{error}}.
  </div>
  <div class="alert alert-info alert-dismissible" role="alert" ng-if="progress">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{progress}}.
  </div>
  <p class="text-center">
    Give us your email and mobile number to receive updates.  You can also help RedCross shelter staffing by letting us know your coming.
  </p>
  <!--  Contact Form -->
  <div class="form-group"
      ng-class="{'has-error': requestForm.content.$invalid
        && requestForm.content.$dirty}">

    <!-- Photo  -->
    <div class="input-layout text-center">
      <img id="photo-output" src="images/photo-placeholder.svg" class="img-circle" style="width: 200px; height: 200px;" onclick="$('#photo').click()">
      <input type="file" id="photo" name="photo" ng-model="newContactRequest.photo" style="font-size: 50px; width: 120px; opacity: 0; filter:alpha(opacity: 0);  position: relative; top: -40px;; left: -20px">
    </div>

    <!-- Address  -->
    <img ng-if="newContactRequest.location.lat" width="100%" height="200px" ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{newContactRequest.location.lat+','+newContactRequest.location.lng}}&zoom=10&scale=2&size=300x150&maptype=terrain&markers=color:blue%7C{{newContactRequest.location.lat+','+newContactRequest.location.lng}}"/>
    <div class="input-layout">
      <input type="text" required="" class="validate-empty" name="name" id="name" value="" ng-model="newContactRequest.address">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Your Address</label>
      <div class="alert alert-error alert-name" style="display: none;">
        Oops! Address is required.
      </div>
    </div>

    <!-- Name  -->
    <div class="input-layout">
			<input type="text" required="" class="validate-empty" name="name" id="name" value="" ng-model="newContactRequest.name">
		    <span class="highlight"></span>
		    <span class="bar"></span>
		    <label>Your Name</label>
			<div class="alert alert-error alert-name" style="display: none;">
				Oops! Name is required.
			</div>
		</div>

    <!-- Email  -->
    <div class="input-layout">
			<input type="email" required="" class="validate-empty" name="email" id="email" value="" ng-model="newContactRequest.email">
		    <span class="highlight"></span>
		    <span class="bar"></span>
		    <label>Your Email</label>
			<div class="alert alert-error alert-name" style="display: none;">
				Oops! Email is required.
			</div>
		</div>

    <!-- Phone  -->
    <div class="input-layout">
			<input type="text" required="" class="validate-empty" name="mobile" id="mobile" value="" ng-model="newContactRequest.mobile">
		    <span class="highlight"></span>
		    <span class="bar"></span>
		    <label>Your Mobile Number</label>
			<div class="alert alert-error alert-name" style="display: none;">
				Oops! Phone is required.
			</div>
		</div>

    <div class="input-layout" ng-class="recognitionAvail?'input-group':''">
			<input type="text" required="" class="validate-empty" name="comments" id="comments" value="" ng-model="newContactRequest.comments">
      <div class="input-group-btn" ng-class="recognizing?'btn-danger':''" ng-if="recognitionAvail">
          <button type="button" class="btn" ng-class="recognizing?'btn-danger':'btn-default'" >
            <i class="fa fa-3x" ng-class="recognizing?'fa-stop':'fa-microphone'" ng-click="listen()"></i>
          </button>
      </div>
        <span class="highlight"></span>
		    <span class="bar"></span>
		    <label>What is your assessment?</label>
			<div class="alert alert-error alert-name" style="display: none;">
				Give us your assessment and/or needs.
			</div>
		</div>
    <br>

    <!-- Shelters  -->
    <h3>Will you be visiting a RedCross shelter?</h3>
    <span ng-if="!shelters.length"><br><i class="fa fa-circle-o-notch fa-spin fa-lg"></i> Loading Shelters...</span>

    <div class="list-group">
      <a class="list-group-item" ng-class="newContactRequest.shelter['_id']==shelter['_id']?'active':''" ng-repeat="shelter in shelters" ng-click="chooseShelter(shelter)">
        <h4 class="list-group-item-heading" style="max-width: 175px; word-break: break-word;">{{shelter.name}}</h4>
        <p class="list-group-item-text">
          <address>
            {{shelter.addr1}}<br>
            {{shelter.city}} {{shelter.state}} {{shelter.zip}}<br>
            <span ng-if="shelter.distance">{{shelter.distance.mi}} mi</span>
          </address>
          Updated: {{shelter.lastUpdated | ago}}
        </p>
        <div class="btn-group-vertical shelter-status" role="group">
          <button class="btn" type="button">
            Capacity <span class="badge">{{shelter.capacity}}</span>
          </button>
          <button class="btn" ng-class="getPopulationClass(shelter)" type="button">
            Population <span class="badge">{{shelter.population}}</span>
          </button>
        </div>
      </a>
    </div>

    <div ng-if="newContactRequest.shelter['_id']">

    <div class="text-center">
      <span class="btn btn-circle btn-lg active">
        <i class="fa fa-arrow-down fa-lg"></i>
      </span>
    </div>
    <br>
    <img width="100%" height="200px" ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{newContactRequest.shelter.location.coordinates[1]+','+newContactRequest.shelter.location.coordinates[0]}}&zoom=10&scale=2&size=300x150&maptype=terrain&markers=color:red%7C{{newContactRequest.shelter.location.coordinates[1]+','+newContactRequest.shelter.location.coordinates[0]}}"/>

    <!-- ETA if shelter is selected  -->
    <div class="input-layout has-feedback">
			<input type="text" required="" class="validate-empty" name="eta" id="eta" value="" ng-model="newContactRequest.eta">
		    <span class="highlight"></span>
		    <span class="bar"></span>
		    <label>Your ETA?</label>
        <span id="helpBlock" class="help-block">
          <span ng-repeat="eta in etas">
            <a ng-click="fillETA(eta)">{{eta}}</a>&nbsp;
          </span>
        </span>
      <div class="alert alert-error alert-name" style="display: none;">
				Oops! ETA is required.
			</div>
		</div>

    <!-- Kids and Pets  -->
    <div class="input-layout has-feedback">
			<input type="text" required="" class="validate-empty" name="kidspets" id="kidspets" value="0" ng-model="newContactRequest.kidspets">
		    <span class="highlight"></span>
		    <span class="bar"></span>
		    <label>Arriving with kids or pets?</label>
        <span id="helpBlock" class="help-block">
          Are you coming with kids or pets?
        </span>
      <div class="alert alert-error alert-name" style="display: none;">
				Oops! Kids is required.
			</div>
		</div>

    </div>

  </div>
  <button class="btn btn-primary btn-block" ng-disabled="requestForm.$invalid">Sign Up</button>
  <br>
</form>
